.table {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.table .header, .table .row {
  display: flex;
}
.table .header div, .table .row div {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid #eeeeee;
}

.table .modal{
  padding: 1rem;
  border: 1px solid #000;  
  
  position: fixed;
  background: white;
  left: 50%;
  margin-right: -50%;
  top: 10%;
}

.table .modalLine{
  margin-bottom: 10px;  
}



.table .modalButtons{
  text-align: center;
  
}

.table .modalButtons input{
    margin: 10px;
}

.table .textInput{
  
  position: relative;
  float: right;
  margin-left: 10px;  
  
}

.table .header {
  background-color: #eeeeee;
}
.button {
  cursor: pointer;
}
